<h3><%= t('view.login') %></h3>

<%= form_with(scope: :session, url: sessions_path, local: true) do |f| %>

  <div class="">
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>

  <div class="">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

  <div class="">
    <%= f.submit t('view.login') %>
  </div>

<% end %>

<p class="to_other_page">
  <%= link_to t('view.admin'), admin_users_path %></p>
