<h3>ユーザーのタスク一覧</h3>

<p><%= notice %></p>



  </div>

  <div class="task_index">
    <table>
      <tr>
        <th>タスク名</th>
        <th>タスク詳細</th>
        <th>詳細</th>
        <th>編集</th>
        <th>削除</th>
      </tr>

    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.title %></td>
        <td><%= task.explanation %></td>
        <td class="option_order01"><%= link_to "詳細", task_path(task.id) %></td>
        <td class="option_order"><%= link_to "編集", edit_task_path(task.id) %></td>
        <td class="option_order"><%= link_to "削除", task_path(task.id), method: :delete, data: { confirm: "本当に削除しますか？"} %></td>
      </tr>

    <% end %>
    </table>
    <p class="option_order"><%= link_to "タスクを新たに登録", new_task_path %></p>

  </div>
