<h3><%= link_to t('view.index'), tasks_path %></h3>

<p><%= notice %></p>

<p><%= link_to t('view.sort_by_deadline'), tasks_path(sort_by_deadline: "true") %>
</p>

<p><%= link_to t('view.sort_by_priority'), tasks_path(sort_by_priority: "true") %>
</p>

<div class="">
  <%= form_with(model: Task.new, method: :get, url: tasks_path, local: true) do |f|%>
  <%= f.label t('view.title_search') %>
  <%= f.text_field :title %>

  <%= f.label t('view.status_search') %>
  <%= f.select :status, Task.statuses.map { |k,v| [t("enums.task.status.#{k}"), k] }, include_blank: true %>

  <%= f.hidden_field :search, value: 'true' %>
  <%= f.submit t('helpers.submit.search'), name: nil %>
  <% end %>
</div>

  <div class="task_index">
    <table>
      <tr>
        <th><%= t('view.title') %></th>
        <th><%= t('view.explanation') %></th>
        <th><%= t('view.deadline') %></th>
        <th><%= t('view.status') %></th>
        <th><%= t('view.priority') %></th>
        <th><%= t('view.show') %></th>
        <th><%= t('view.edit') %></th>
        <th><%= t('view.destroy') %></th>
      </tr>

    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.title %></td>
        <td><%= task.explanation %></td>
        <td><%= task.deadline %></td>
        <td><%= t("enums.task.status.#{task.status}") %></td>
        <td><%= t("enums.task.priority.#{task.priority}") %></td>
        <td class="option_order"><%= link_to t('view.show'), task_path(task.id) %></td>
        <td class="option_order"><%= link_to t('view.edit'), edit_task_path(task.id) %></td>
        <td class="option_order">
          <%= link_to t('view.destroy'), task_path(task.id), method: :delete, data: { confirm: t('view.destroy_confirm')} %></td>
      </tr>

    <% end %>
    </table>
    <p class="option_order"><%= link_to t('view.create'), new_task_path %></p>

  </div>
