<h3><%= t('view.index') %></h3>

<p><%= notice %></p>

<p><%= link_to t('view.sort_by_deadline'), tasks_path(sort_by_deadline: "true") %>
</p>

  <div class="task_index">
    <table>
      <tr>
        <th><%= t('view.title') %></th>
        <th><%= t('view.explanation') %></th>
        <th><%= t('view.deadline') %></th>
        <th><%= t('view.status') %></th>
        <th><%= t('view.show') %></th>
        <th><%= t('view.edit') %></th>
        <th><%= t('view.destroy') %></th>
      </tr>

    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.title %></td>
        <td><%= task.explanation %></td>
        <td><%= task.deadline %></td>
        <td><%= t("enums.task.status.#{task.status}") %></td>
        <td class="option_order"><%= link_to t('view.show'), task_path(task.id) %></td>
        <td class="option_order"><%= link_to t('view.edit'), edit_task_path(task.id) %></td>
        <td class="option_order">
          <%= link_to t('view.destroy'), task_path(task.id), method: :delete, data: { confirm: t('view.destroy_confirm')} %></td>
      </tr>

    <% end %>
    </table>
    <p class="option_order"><%= link_to t('view.create'), new_task_path %></p>

  </div>
