<h3><%= t('view.show') %></h3>

<p><%= notice %></p>

<p><%= t('view.title') %>: <%= @task.title %></p>
<p><%= t('view.explanation') %>: <%= @task.explanation %></p>
<p><%= t('view.deadline') %>: <%= @task.deadline %></p>
<p><%= t('view.status') %>: <%= t("enums.task.status.#{@task.status}") %></p>
<p><%= t('view.priority') %>: <%= t("enums.task.priority.#{@task.priority}") %></p>


<p class="to_other_page"><%= link_to t('view.edit'), edit_task_path(@task) %></p>
<p class="to_other_page"><%= link_to t('view.index'), tasks_path %></p>
