<h3>タスクの詳細</h3>

<p><%= notice %></p>

<p>登録者: </p>
<p>タスク名: <%= @task.title %></p>
<p>タスク詳細: <%= @task.explanation %></p>

<p class="to_other_page"><%= link_to "タスクを編集する", edit_task_path(@task) %></p>
<p class="to_other_page"><%= link_to "ユーザーのタスク一覧", tasks_path %></p>
