<h3><%= @user.name %><%= t('view.my_page') %></h3>

<div class="">
  <p class="">過去の投稿</p>
  <% @user.tasks.each do |task| %>
  <div class="">
    <p><%= task.title %></p>
    <p><%= task.explanation %></p>
    <p><%= task.deadline %></p>
    <p><%= task.status %></p>
    <p><%= task.priority %></p>

    <p class="to_other_page">
      <%= link_to t('view.edit'), edit_task_path(task.id) %></p>
    <p class="to_other_page">
      <%= link_to t('view.destroy'), task_path(task.id), method: :delete, data: { confirm: t('view.destroy_confirm')} %></p>
  </div>
  <% end %>

  <p class="to_other_page">
    <%= link_to t('view.create'), new_task_path %></p>
  <p class="to_other_page">
      <%= link_to t('view.logout'), session_path(current_user.id), method: :delete %></p>
</div>
