<h3>ユーザー登録</h3>

<%= form_with(model: [:admin, @user], locale: true) do |f| %>

  <div class="">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="">
  <%= f.label :email %>
  <%= f.text_field :email %>
  </div>

  <div class="">
  <%= f.label :password %>
  <%= f.text_field :password %>
  </div>

  <div class="">
  <%= f.label :admin %>
  <%= f.check_box :admin %>
  |管理者権限
  </div>

  <div class="">
  <%= f.label :password_confirmation %>
  <%= f.text_field :password_confirmation %>
  </div>

  <div class="">
  <%= f.submit t('view.create my account') %>
  </div>

<% end %>
