<!DOCTYPE html>
<html>
  <head>
    <title>Tasksapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width">
  </head>

  <body>

    <header class="header_container">
      <h2 id="header_title">TASKSapp</h2>
    </header>

    <main class="main_container">

      <div class="flash_message">
        <% flash.each do |key, value| %>
          <%= content_tag(:div, value, class: "#{key}") %>
        <% end %>
      </div>

      <div class="login_confirm">
        <% if logged_in? %>
          <%= link_to t('view.profile'), user_path(current_user.id) %>
          <%= link_to t('view.logout'), session_path(current_user.id), method: :delete %>
        <% else %>
          <%= link_to t('view.signup'), new_user_path %>
        <% end %>
      </div>

    <%= yield %>
    </main>

  </body>
</html>
